<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<form th:action="@{/products/getcategory}" method="get" th:object="${product}">
    <label>
        <input type="text" id="category" th:name="category" placeholder="type category name" th:value="${category}" />
    </label>
    <input type="submit" value="Filtrate"/>
</form>


<div th:each="products : ${product}"  style="border-bottom: 1px solid black">
    <p>Category: <b th:text="${products.getCategory()}"></b></p>
    <p>Name: <b th:text="${products.getName()}"></b></p>
    <p>Price: <b th:text="${products.getPrice()}"></b></p>
</div>
</body>
</html>